body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
.clock {
  text-align: center;
  color: #e98208;
  font-size: 60px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text1 {
  text-align: center;
  color: #e98208;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

#container{
  background-color: #2D5358;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px #000000;
  text-shadow: 2px 2px 2px #CE5937;
}